* {
    background-color: rgb(240, 200, 150);
    }

.menue {
    display: flex;
    flex-wrap: wrap;
    width: 10vw;
    margin: 2rem;
}

.content {
    display:flex;
    flex-direction: column;
}

.statblock {
    white-space: pre-wrap;
    border-left: solid 1px rgb(45, 45, 45);
    border-right: solid 1px rgb(45, 45, 45);
    padding: 0 5px 0 5px;
    margin-left: 10vw;
    display: flex;
    flex-direction: column;
    width: 75%;
    max-width: 60rem;
}

.reset_button {
    padding: 2px 4px 2px 4px;
}

.frame {
    width: 100%;
    height: 0.25rem;
    border-radius: 2px;
    background-color: rgb(190, 145, 80);
    border: solid 4px rgb(99, 22, 22);
}

.spacer {
    height: 0.5rem;
    background-color: rgb(99, 22, 22); 
    clip-path: polygon(0 0, 100% 100%, 0 100%); /* Defines the triangular shape */
}

.sub-spacer {
    width: 60%;
    height: 0.25rem;
    background-color: rgb(99, 22, 22);
    clip-path: polygon(0 0, 100% 100%, 0 100%);
}

.content_searchform-textsearch {
    margin: 2px;
}

.content_searchform-selection {
    margin: 2px;
}

.content_results_linkparagraph-link {
    color: inherit;
    text-decoration: none;
}

.content_results_linkparagraph-link:visited {
    color: inherit;
    text-decoration: none;
}

.content_results_linkparagraph-link:hover {
    color: royalblue;
}
#content_results_header h1 {
    margin-bottom: 0;
}

#content_results_header p {
    font-style: italic;
    margin-top: 0;
    }

#content_results_attributes_table{
    width: 75%;
    text-align: center;
}

.titlefont {
    font-weight: bold;
    color: rgb(99, 22, 22);
    margin-top: 0;
}

.namefont {
    font-weight: bold;
    color: rgb(99, 22, 22);
}

.subheader {
    font-weight: lighter;
    color: rgb(99, 22, 22);
    margin-bottom: 0;
}
