{% extends "base.html" %}

{% block header %}
    <h1>{% block title %}The Monster Manual {% endblock title %}</h1>
{% endblock header %}
{% block content %}
<div class="dataDiv" id="monster_stats" data_from_flask="{{stats}}"></div>
<div id="content_results">
    <div id="content_results_abilities"></div>
    <div class="spacer" id="content_results_spacer"></div>
    <div id="content_results_actions"></div>
    <div class="spacer" id="content_results_spacer"></div>
    <div id="content_results_specials"></div>
</div>
<script type="module" src="{{url_for('static', filename='show_stats.js')}}"></script>
{% endblock content %}